{% extends 'base.html' %}

{% block title %} about{% endblock title %}
{% block body %}
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="row-cols-md-2 ">
                <div class="col ">
                  <div class="card shadow-sm ash">
                    <img src="" alt="">
                    <div class="card-body sho">
                      <p class="card-text"><b>Contibution to  project</b> <br>Backend: Python, Django</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"><b>Jay Pethad</b></button>
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                  <p></p>
                    <div class="col ">
                      <div class="card shadow-sm ash">
                        <img src="" alt="">
                        <div class="card-body sho">
                          <p class="card-text"><b>Contibution to project</b> <br>Frontend: Html,css</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary"><b>Aditya Malusare</b></button>
                            </div>
                            <small class="text-muted"></small>
                          </div>
                        </div>
                      </div>
                      
                  <p></p>
                        <div class="col ">
                          <div class="card shadow-sm ash">
                            <img src="" alt="">
                            <div class="card-body sho">
                              <p class="card-text"><b>Contibution to project</b> <br>Database: MySQL</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"><b>Ashok Bhati</b></button>
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                          <p></p>

                            <div class="col ">
                              <div class="card shadow-sm ash">
                                <img src="" alt="">
                                <div class="card-body sho">
                                  <p class="card-text"><b>Contibution to  project</b> <br>Database: MySQL</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary"><b>shriyash kumbhar</b></button>
                                    </div>
                                    <small class="text-muted"></small>
                                  </div>
                                </div>
                              </div>

                              <p></p>
                              <div class="col ">
                                <div class="card shadow-sm ash">
                                  <img src="" alt="">
                                  <div class="card-body sho">
                                    <p class="card-text"><b>Contibution to  project</b> <br>Database: MySQL</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><b>Kundan dolas</b></button>
                                      </div>
                                      <small class="text-muted"></small>
                                    </div>
                                  </div>
                                </div>
                                <p></p>   
                                <div class="col ">
                                    <div class="card shadow-sm ash">
                                      <img src="" alt="">
                                      <div class="card-body sho">
                                        <p class="card-text"><b>Contibution to  project</b> <br>Database: MySQL</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary"><b>Dhiriti Pandya</b></button>
                                          </div>
                                          <small class="text-muted"></small>
                                        </div>
                                      </div>
                                    </div>
                                    <p></p>  
                                    <div class="col ">
                                        <div class="card shadow-sm ash">
                                          <img src="" alt="">
                                          <div class="card-body sho">
                                            <p class="card-text"><b>github link</b> </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                              <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                                    <a href="https://www.flipkart.com/account/?rd=0&link=home_account" ><b>!github</b></a></button>
                                              </div>
                                              <small class="text-muted"></small>
                                            </div>
                                          </div>
                                        </div>
                                        <p></p>   
            <p></p>
        </div>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</div>
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i><img src="static\pics\fb.png" height="50"></a>
                
                <a href="https://twitter.com/PethadJay"><i class="fab fa-twitter"></i><img src="static\pics\twi.png" height="50"></a>
                
                <a href="https://www.instagram.com/pethad__jay/"><i class="fab fa-instagram"></i><img src="static\pics\insta.png" height="50"></a>
                
            </div>
        </div>
    </div>
</div>
{% endblock body %}